/*
 Theme Name:   Coronavirus Makers
 Theme URI:    https://generatepress.com
 Description:  Theme for Coronavirus Makers Child
 Author:       Coronavirus Makers
 Author URI:   https://www.coronavirusmakers.org
 Template:     generatepress
 Version:      0.1
*/

body.single .site-content a,
body.single .site-content a:visited {
    color: #8dc648;
    border-bottom: 2px solid #8dc648;
}

body.single .site-content a:hover,
body.single .site-content a:visited:hover {
	color: #109643;
    border-bottom-color: #109643;
}

.separate-containers .site-main {
	margin:0px 20px;
}

.separate-containers .inside-article, .separate-containers .comments-area, .separate-containers .page-header, .separate-containers .paging-navigation, .one-container .site-content, .inside-page-header, .wp-block-group__inner-container {
	padding-top:0px;
	padding-bottom:0px;
}

.latest-posts {
	display:flex;
	flex-wrap:wrap;
}

.latest-posts .post-item {
	width:100%;
	margin-bottom:30px;
}

.latest-posts .post-item .title {
	text-transform:uppercase;
	background-position:0px 10px;
	background-repeat:no-repeat;
	background-size:auto 25px;
	padding:10px 20px;
}

.latest-posts .post-item:hover .title {
	background-color:#38a43e;
}

.latest-posts .post-item:hover .title a {
	color:#fff;
}

.latest-posts .post-item .date {
	text-transform:uppercase;
	font-weight:bold;
	padding-left:20px;
	padding-right:20px;
}

@media all and (min-width: 768px) {
	.latest-posts {
		margin-left:-15px;
		margin-right:-15px;
	}
	
	.latest-posts .post-item {
		width:calc(50% - 30px);
		margin-left:15px;
		margin-right:15px;
	}
}

@media all and (max-width: 767px) {
	.section--last-news {
		background: linear-gradient(to right, #03572a 0%, #203a2c 100%);
	}
	
	.section--last-news,
	.section--last-news a {
		color: #fff;
	}
	
}

.promoted-project {
	display:flex;
	flex-wrap:wrap;
}

.promoted-project .project-item {
	width:100%;
	margin-bottom:30px;
}

.promoted-project .project-item .title {
	text-transform:uppercase;
	text-align:center;
}

.promoted-project .project-item .title a {
	color:#fff;
}

.promoted-project .project-item .image img {
	width:calc(100% - 8px);
	height:auto;
	border:4px solid #fff;
}

.promoted-project .project-item .date {
	text-transform:uppercase;
	font-weight:bold;
}

@media all and (min-width: 768px) {
	.promoted-project {
		margin-left:-15px;
		margin-right:-15px;
	}
	
	.promoted-project .project-item {
		width:calc(33.33% - 30px);
		margin-left:15px;
		margin-right:15px;
	}
}

@media only all and (min-width: 1140px) {
	.elementor-nav-menu--main .elementor-nav-menu a, 
	.elementor-nav-menu--main .elementor-nav-menu a.highlighted, 
	.elementor-nav-menu--main .elementor-nav-menu a:focus, 
	.elementor-nav-menu--main .elementor-nav-menu a:hover {
		padding: 13px 15px !important;
	}

	.cm-main-menu .e--pointer-double-line .elementor-item:after, .e--pointer-underline .elementor-item:after {
		width: calc(100% - 13px * 2) !important;
		margin-left: 15px !important;
	}
}


@media only all and (min-width: 1024px) and (max-width: 1140px) {
    .elementor-nav-menu--main .elementor-nav-menu a, 
    .elementor-nav-menu--main .elementor-nav-menu a.highlighted, 
    .elementor-nav-menu--main .elementor-nav-menu a:focus, 
    .elementor-nav-menu--main .elementor-nav-menu a:hover {
        padding: 13px 10px !important;
    }
	
	.cm-main-menu .e--pointer-double-line .elementor-item:after, .e--pointer-underline .elementor-item:after {
		width: calc(100% - 13px * 2) !important;
		margin-left: 10px !important;
	}
}

.promoted-videos-list {
	display:flex;
	flex-wrap:wrap;
}

.promoted-videos-list .video-item {
	margin-bottom:30px;
	width:100%;
}

.promoted-videos-list .video-item .video {
	margin-bottom:10px;
}

.promoted-videos-list .video-item .title {
	margin-bottom:10px;
}

@media all and (min-width: 1024px) {
	.promoted-videos-list {
		margin-left:-15px;
		margin-right:-15px;
	}
	
	.promoted-videos-list .video-item {
		margin-left:15px;
		margin-right:15px;
		width:calc(50% - 30px);
	}
	
	.promoted-videos-list .video-item:first-child {
		margin-left:15px;
		margin-right:15px;
		width:calc(100% - 30px);
	}
}

.videos-list {
	display:flex;
	flex-wrap:wrap;
}

.videos-list .video-item {
	margin-bottom:30px;
	width:100%;
}

.videos-list .video-item .video {
	margin-bottom:10px;
}

.videos-list .video-item .title {
	margin-bottom:10px;
}

.news-list .news-item {
	padding-top:15px;
	padding-bottom:15px;
	border-bottom:4px solid #f1f1f1;
}

.news-list .news-item .date {
	text-decoration:underline;
	font-weight:normal;
	margin-bottom:5px;
}

.news-list .news-item .title a {
	color:#17251D;
	font-weight:bold;
}

.press-releases .press-release-item {
	padding-top:15px;
	padding-bottom:15px;
	border-bottom:4px solid #f1f1f1;
}

.press-releases .press-release-item .date {
	text-decoration:underline;
	font-weight:normal;
	margin-bottom:5px;
}

.press-releases .press-release-item .title a {
	color:#17251D;
	font-weight:bold;
}

.press-releases-pagination,
.news-pagination,
.videos-pagination {
	margin-top:30px;
}

.press-releases-pagination ul,
.news-pagination ul,
.videos-pagination ul {
	justify-content:center;
}

.wpv-archive-pagination-nav-links-container .page-link, .wpv-archive-pagination-nav-links .page-link, .wpv-pagination-nav-links-container .page-link, .wpv-pagination-nav-links .page-link, .wpv-pagination-preview-element .page-link {
	border:none;
}