<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comentarios en: CORONAVIRUSMAKERS, la mayor red de expertos mundial de tecnología, entrega material sanitario de emergencia en España y prepara respiradores para UCIs	</title>
	<atom:link href="https://www.coronavirusmakers.org/coronavirusmakers-la-mayor-red-de-expertos-mundial-de-tecnologia/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.coronavirusmakers.org/coronavirusmakers-la-mayor-red-de-expertos-mundial-de-tecnologia/</link>
	<description>Comunidad de voluntarios Makers</description>
	<lastBuildDate>Tue, 28 Jul 2020 16:01:40 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
</channel>
</rss>
