ul {
  list-style: none; /* Remove HTML bullets */
  padding: 0;
  margin: 0;
}


ul li { 
    display:block; 
    padding: 0;
    height:20px; 
    background-color:rgba(255, 255, 255); 
    padding-left:0px;
    text-decoration:none; 
    color:#000000; 
}

html, body, #map {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;	
	font-family: Arial, sans-serif;
	font-color: #38383;
}


p { 
  display:block; 
  height:18px; 
  background-color:#000000; 
  border-left:5px solid #222; 
  border-right:5px solid #222; 
  padding-left:0px;
  text-decoration:none; 
  color:#0dd328; 
}
