<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comentarios en: A los makers nos encanta saberlo todo: ¿en qué proyectos  estamos poniendo nuestros esfuerzos?	</title>
	<atom:link href="https://www.coronavirusmakers.org/a-los-makers-nos-encanta-saberlo-todo-en-que-proyectos-estamos-poniendo-nuestros-esfuerzos/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.coronavirusmakers.org/a-los-makers-nos-encanta-saberlo-todo-en-que-proyectos-estamos-poniendo-nuestros-esfuerzos/</link>
	<description>Comunidad de voluntarios Makers</description>
	<lastBuildDate>Sun, 19 Apr 2020 10:57:04 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
</channel>
</rss>
