<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comentarios en Coronavirus Makers	</title>
	<atom:link href="https://www.coronavirusmakers.org/comments/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.coronavirusmakers.org</link>
	<description>Comunidad de voluntarios Makers</description>
	<lastBuildDate>Sun, 10 May 2020 13:12:47 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
			<item>
				<title>
				Comentario en Covid-19: Por qué todos deberíamos llevar mascarillas &#8211; Nuevos fundamentos científicos por Elementor #228 – INNOVACIÓN FRENTE AL CORONAVIRUS				</title>
				<link>https://www.coronavirusmakers.org/covid-19-por-que-todos-deberiamos-llevar-mascarillas-nuevos-fundamentos-cientificos/#comment-3</link>
		<dc:creator><![CDATA[Elementor #228 – INNOVACIÓN FRENTE AL CORONAVIRUS]]></dc:creator>
		<pubDate>Sun, 10 May 2020 13:12:47 +0000</pubDate>
		<guid isPermaLink="false">https://www.coronavirusmakers.org/?p=1191#comment-3</guid>
					<description><![CDATA[[&#8230;] de este artículo verás diferentes referencias que justifican su uso generalizado. El principal mecanismo de transmisión del SARS-CoV-2 son las gotículas mayores, que pueden detenerse con cualquier tipo de [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] de este artículo verás diferentes referencias que justifican su uso generalizado. El principal mecanismo de transmisión del SARS-CoV-2 son las gotículas mayores, que pueden detenerse con cualquier tipo de [&#8230;]</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				Comentario en Covid-19: Por qué todos deberíamos llevar mascarillas &#8211; Nuevos fundamentos científicos por ¿Llevar o no llevar mascarillas de tela? &#8211; INNOVACIÓN FRENTE AL CORONAVIRUS				</title>
				<link>https://www.coronavirusmakers.org/covid-19-por-que-todos-deberiamos-llevar-mascarillas-nuevos-fundamentos-cientificos/#comment-2</link>
		<dc:creator><![CDATA[¿Llevar o no llevar mascarillas de tela? &#8211; INNOVACIÓN FRENTE AL CORONAVIRUS]]></dc:creator>
		<pubDate>Sun, 10 May 2020 13:08:40 +0000</pubDate>
		<guid isPermaLink="false">https://www.coronavirusmakers.org/?p=1191#comment-2</guid>
					<description><![CDATA[[&#8230;] de este artículo verás diferentes referencias que justifican su uso generalizado. El principal mecanismo de transmisión del SARS-CoV-2 son las gotículas mayores, que pueden detenerse con cualquier tipo de [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] de este artículo verás diferentes referencias que justifican su uso generalizado. El principal mecanismo de transmisión del SARS-CoV-2 son las gotículas mayores, que pueden detenerse con cualquier tipo de [&#8230;]</p>
]]></content:encoded>
						</item>
			</channel>
</rss>
