.elementor-29 .elementor-element.elementor-element-d2a8e21:not(.elementor-motion-effects-element-type-background), .elementor-29 .elementor-element.elementor-element-d2a8e21 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#0D331E;}.elementor-29 .elementor-element.elementor-element-d2a8e21{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:30px 0px 30px 0px;}.elementor-29 .elementor-element.elementor-element-d2a8e21 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-29 .elementor-element.elementor-element-c54c275.elementor-column .elementor-column-wrap{align-items:space-between;}.elementor-29 .elementor-element.elementor-element-c54c275.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:space-between;align-items:space-between;}.elementor-29 .elementor-element.elementor-element-a2329b1{color:#FFFFFF;}.elementor-29 .elementor-element.elementor-element-3005472 .elementor-nav-menu .elementor-item{font-weight:normal;}.elementor-29 .elementor-element.elementor-element-3005472 .elementor-nav-menu--main .elementor-item{color:#FFFFFF;padding-left:15px;padding-right:15px;padding-top:0px;padding-bottom:0px;}@media(min-width:768px){.elementor-29 .elementor-element.elementor-element-c54c275{width:25%;}.elementor-29 .elementor-element.elementor-element-ed902f2{width:75%;}}@media(max-width:1024px) and (min-width:768px){.elementor-29 .elementor-element.elementor-element-c54c275{width:100%;}.elementor-29 .elementor-element.elementor-element-ed902f2{width:100%;}}@media(max-width:1024px){.elementor-29 .elementor-element.elementor-element-a2329b1 .elementor-text-editor{text-align:center;}}@media(max-width:767px){.elementor-29 .elementor-element.elementor-element-a2329b1 .elementor-text-editor{text-align:center;}.elementor-29 .elementor-element.elementor-element-3005472 .elementor-nav-menu .elementor-item{font-size:15px;}}/* Start custom CSS for text-editor, class: .elementor-element-a2329b1 */.elementor-29 .elementor-element.elementor-element-a2329b1 p {
    margin-bottom: 0px;
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-3005472 */.elementor-29 .elementor-element.elementor-element-3005472 .elementor-nav-menu {
    justify-content: center;
}

.elementor-29 .elementor-element.elementor-element-3005472 .elementor-nav-menu li {
    width:100%;
    display: block;
}

.elementor-29 .elementor-element.elementor-element-3005472 .elementor-nav-menu li a {
    justify-content:center;
}

@media all and (max-width: 1025px) {
  .elementor-29 .elementor-element.elementor-element-3005472 .elementor-nav-menu {
    width:100%;
}
}

@media all and (min-width: 1025px) {
    .elementor-29 .elementor-element.elementor-element-3005472 .elementor-nav-menu li {
    width:auto;
}

  .elementor-29 .elementor-element.elementor-element-3005472 .elementor-nav-menu li a {
    justify-content:flex-end;
}
}/* End custom CSS */